<h1 class="mt-4">Cathie's DevSpace</h1>
<div class="d-flex justify-content-start">
  <%= link_to "Browse bugs", bugs_path, class: "bg-light py-3 px-5 rounded d-block fw-bold mt-4 fs-5 me-4 no-decoration" %>
  <%= link_to "Browse Important links", links_path, class: "bg-light py-3 px-5 rounded d-block fw-bold mt-4 fs-5 no-decoration" %>
</div>